<div>
    <h1>Register Form</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" id="email" formControlName="email">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" formControlName="password">
            <small class="error" *ngIf="password!.touched && password!.hasError('onlySpaces')">No puede ser solo
                espacios en blanco.</small>

        </div>
        <div>
            <label for="kindUser">Kind User:</label>
            <select id="kindUser" formControlName="kindUser">
                <option value="natural">Natural</option>
                <option value="company">Company</option>
            </select>
        </div>
        <div *ngIf="registerForm.get('kindUser')?.value==='natural'">
            <label for="lastName">LastName: </label>
            <input type="text" id="lastName" formControlName="lastName">

        </div>
        <div *ngIf="registerForm.get('kindUser')?.value === 'company'">
            <label for="socialReason">Social Reason</label>
            <input id="socialReason" type="text" formControlName="socialReason">
        </div>



        <fieldset formGroupName="address">
            <legend>Address</legend>
            <div>
                <label for="street">Street: </label>
                <input type="text" id="street" formControlName="street">
            </div>
            <div>
                <label for="city">City: </label>
                <input type="text" id="city" formControlName="city">
            </div>
            <div>
                <label for="postCode">PostCode: </label>
                <input type="text" id="postCode" formControlName="postCode">
            </div>
        </fieldset>
        <fieldset formArrayName="phoneNumbers">
            <legend>Phones:</legend>
            <div *ngFor="let phone of phones.controls; let i=index" [formGroupName]="i">
                <input type="text" id="number" formControlName="number" placeholder="addPhone">
                <button type="button" (click)="deletePhone(i)">Delete</button>
            </div>
            <button type="button" (click)="addPhone()">Add Phone</button>
        </fieldset>

        <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
</div>