<div
class="card"
appHighlightBook
[ngStyle]="{
    opacity: book.available ? 1 : 0.6
}">
    <h3>
        {{book.title | titlecase}}
    </h3>
    <p>
        <strong>Author:</strong>
        {{book.author | uppercase}}
    </p>
    <p>
        <strong>Category:</strong>
        {{book.category}}
    </p>
    <p
    [ngClass]="{
        available: book.available,
        borrowed: !book.available
    }">
        {{book.available ? 'Available' : 'Borrowed'}}
    </p>
    <button
    (click)="toggleStatus()">
        {{book.available ? 'Borrow' : 'Return'}}
    </button>
    <button
    (click)="delete()">

        Delete
    </button>
</div>