<div *ngIf="loading">
  <p>Cargando detalle del personaje...</p>
</div>

<div *ngIf="!loading && character">
  <img [src]="character.image" [alt]="character.name" />
  <h2>{{ character.name }}</h2>
  <p><strong>Estado:</strong> {{ character.status }}</p>
  <p><strong>Especie:</strong> {{ character.species }}</p>
  <p><strong>Género:</strong> {{ character.gender }}</p>
  <p><strong>Origen:</strong> {{ character.origin.name }}</p>
  <p><strong>Ubicación:</strong> {{ character.location.name }}</p>
</div>

<div *ngIf="!loading && !character">
  <p>No se encontró el personaje.</p>
</div>